# Temporary files related to the task 00.
output*.txt
task_0*_*.log

# Temporary files related to the use of pyenv to set specific Python version
#   (so I reuse all the Flask/ORM installations from a previous project)
.python-version
